/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Root Variables */
:root {
  font-size: 16px;
}

/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
  list-style: none;
}

/* Global Styles (Mobile First) */
body {
  max-width: 640px;
  margin: 96px auto 320px;
  padding: 0 24px;
  font-family: 'Sora', serif;
  font-size: 1.25rem; /* 20px */
  font-weight: 400;
  color: #52525a;
  background-color: #fafaf9;
  line-height: 1.75;
}

/* Headings */
h1 {
  font-size: 2.25rem; /* 36px */
  font-weight: 600;
  color: #18181b;
}

h2 {
  font-size: 1rem; /* 16px */
  font-weight: 600;
  color: #18181b;
  margin-top: 14px;
}

/* Testimonial Section */
.testimonial-section {
  font-size: 1rem; /* 16px */
  display: flex;
  flex-direction: column;
}

/* Top Star Image */
.top-image {
  max-width: 48px;
}

/* Google and Meta Testimonials */
.google-testimonial,
.meta-testimonial {
  max-width: 55%;
  margin-top: 96px;
}

.google-testimonial {
  align-self: flex-end;
}

.meta-testimonial {
  align-self: flex-start;
}

/* Company Logos and Stars */
.company-logo-with-review-star-container {
  display: flex;
  align-items: center;
}

.company-logo {
  max-width: 86px;
  margin-right: 18px;
}

.review-stars {
  max-width: 20px;
}

/* Checklist Section */
.checklists-container {
  margin-top: 28px;
  font-size: 0.875rem; /* 14px */
}

.checklists-container li {
  display: flex;
  align-items: center;
  margin-top: 8px;
}

.checklists-container li img {
  max-width: 20px;
  margin-right: 10px;
}


/* Media Query for larger devices (min-width: 1024px) */
@media (min-width: 1024px) {
  
}